<h1>Books一覧</h1>

<table>
  <thead class="thead-dark">
    <tr>
      <th style="width: 40px">No.</th>
      <th style="width: 200px">タイトル</th>
      <th style="width: 300px">説明</th>
      <th>投稿日</th>
      <th>更新日時</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <th><%= book.id %></th>
      <th><%= book.title %></th>
      <td><%= book.description %></td>
      <td><%= book.created_at %></td>
      <td><%= book.updated_at %></td>
      <td><%= link_to 'Show', book %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
    <% end %>
  </tbody>
</table>
