<div class="d-flex align-items-center"  style="margin: 70px 0px 0px 50px;" >
  <h1>Books一覧</h1>
  <a class="btn btn-primary" href="/books/new" role="button" style="margin: 30px 10px 10px 30px;">Book登録</a>
</div>

<div class="search_form">
  <%= search_form_for @q do |f| %>
    <%= f.label :title, "タイトル検索" %>
    <%= f.search_field :title_cont %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="paginate">
  <%= paginate @books %>
</div>

<div class="table_margin">
  <table class="table table-bordered border-primary table-hover table-sm posts_table">
    <%= render "table_head" %>
    <tbody style="background-color: white;">
      <% @books.each do |book| %>
        <% if UserBook.where(book_id: book.id).blank? %>
        <tr class="success">
          <td><%= book.id %></td>
          <td><%= link_to book.title, book %></td>
          <td>
            <% if book.img? %>
              <%= image_tag book.img.url %>
            <% else %>
              <%= image_tag "default.jpg" %>
            <% end %>
          </td>
          <td><%= book.description %></td>
          <td><%= Impression.where(book_id: book.id).count %></td>
          <td><%= book.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><%= book.updated_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><p>誰も借りてない</p></td>
          <td>
            <%= link_to '編集', edit_book_path(book), class: "btn btn-primary" %>
            <%= link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% elsif UserBook.where(book_id: book.id).last.status == "lend" %>
        <tr class="success">
          <td><%= book.id %></td>
          <td><%= link_to book.title, book %></td>
          <td>
            <% if book.img? %>
              <%= image_tag book.img.url %>
            <% else %>
              <%= image_tag "default.jpg" %>
            <% end %>
          </td>
          <td><%= book.description %></td>
          <td><%= Impression.where(book_id: book.id).count %></td>
          <td><%= book.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><%= book.updated_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><p>借りれる</p></td>
          <td>
            <%= link_to '編集', edit_book_path(book), class: "btn btn-primary" %>
            <%= link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% elsif UserBook.where(book_id: book.id).last.status == "borrow" && UserBook.where(book_id: book.id).last.user == current_user %>
        <tr class="danger">
          <td><%= book.id %></td>
          <td><%= link_to book.title, book %></td>
          <td>
            <% if book.img? %>
              <%= image_tag book.img.url %>
            <% else %>
              <%= image_tag "default.jpg" %>
            <% end %>
          </td>
          <td><%= book.description %></td>
          <td><%= Impression.where(book_id: book.id).count %></td>
          <td><%= book.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><%= book.updated_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><p>貸し出し中</p>(<%= book.user_books.last.user.name %>)</td>
          <td>
            <%= link_to '編集', edit_book_path(book), class: "btn btn-primary" %>
            <%= link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% elsif UserBook.where(book_id: book.id).last.status == "borrow" %>
        <tr class="bg-secondary text-white">
          <td><%= book.id %></td>
          <td><%= link_to book.title, book %></td>
          <td>
            <% if book.img? %>
              <%= image_tag book.img.url %>
            <% else %>
              <%= image_tag "default.jpg" %>
            <% end %>
          </td>
          <td><%= book.description %></td>
          <td><%= Impression.where(book_id: book.id).count %></td>
          <td><%= book.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><%= book.updated_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><p>貸し出し中</p>(<%= book.user_books.last.user.name %>)</td>
          <td>
            <%= link_to '編集', edit_book_path(book), class: "btn btn-primary" %>
            <%= link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
