<div class="d-flex align-items-center"  style="margin-top: 70px;" >
  <h1>Books一覧</h1>
  <a class="btn btn-primary" href="/books/new" role="button" style="margin: 30px 10px 10px 30px;">Book登録</a>
</div>

<div class="search_form">
  <%= search_form_for @q do |f| %>
    <%= f.label :title, "タイトル検索" %>
    <%= f.search_field :title_cont %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="paginate">
  <%= paginate @books %>
</div>

<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <%= render "table_head" %>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.id %></td>
      <td><%= book.title %></td>
      <td><%= book.description %></td>
      <td><%= Impression.where(book_id: book.id).count %></td>
      <td><%= book.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
      <td><%= book.updated_at.strftime("%Y年%m月%d日 %H:%M") %></td>
      <td></td>
      <td>
        <%= link_to '詳細', book, class: "btn btn-primary" %>
        <%= link_to '編集', edit_book_path(book), class: "btn btn-primary" %>
        <%= link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
