<h1>新規登録</h1>

<table class="table table-bordered border-primary table-hover table-sm posts_table">
<%= form_for @book do |f| %>
<thead class="thead-dark">
  <tr>
    <th style="width: 200px"><%= f.label :title, 'タイトル' %></th>
    <th style="width: 300px"><%= f.label :content, '投稿内容' %></th>
  </tr>
</thead>
<tbody>
  <tr>
    <th><%= f.text_field :title %></th>
    <th><%= f.text_area :description %></th>
  </tr>
<tbody>

</table>
<%= f.submit '登録', class: "btn btn-primary" %>
<% end %>
