<h1>詳細</h1>

<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <%= render "table_head" %>
  <tbody>
    <tr>
      <td><%= @book.id %></td>
      <td><%= @book.title %></td>
      <td><%= @book.description %></td>
      <td><%= Impression.where(book_id: @book.id).count %></td>
      <td><%= @book.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
      <td><%= @book.updated_at.strftime("%Y年%m月%d日 %H:%M") %></td>
      <td>
        <%= link_to '編集', edit_book_path(@book), class: "btn btn-primary" %>
        <%= link_to '削除', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </td>
    </tr>
  </tbody>
</table>

<h2>貸し出し</h2>
<% binding.pry %>
<%= form_for [@book, @user_book] do |f| %>
  <%= f.submit '借りる' %>
<% end %>

<h2>感想一覧</h2>
<%= form_for [@book, @impression] do |f| %>
  <%= f.text_field :content %>
  <%= f.submit '投稿する' %>
<% end %>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead>
    <tr>
      <th>id</th>
      <th>内容</th>
      <th>投稿者</th>
      <th>投稿日時</th>
    </tr>
  </thead>
  <tbody>
    <% @impressions.each do |i| %>
      <tr>
        <td><%= i.id  %></td>
        <td><%= i.content %></td>
        <td><%= i.user.name %></td>
        <td><%= i.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
