<!DOCTYPE html>
<html>
  <head>
    <title>Hogehoge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="d-flex align-items-center">
      <%= link_to 'BookManagement', root_path, class: "title" %>
    </div>
    <div class="ml-auto posts_button">
      <% if user_signed_in? %>
        <%= link_to 'マイページ', "/user/#{current_user.id}", class: "btn btn-primary" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= link_to 'ユーザー登録', new_user_registration_path, class: "btn btn-primary" %>
        <%= link_to 'ログイン',new_user_session_path,class: "btn btn-primary" %>
      <% end %>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer>
    powered by <a href="http://regulus-technologies.co.jp/"></a>
  </footer>
</html>
