<h1>マイページ</h1>

<div class="my_page">
  名前:
  <%= @user.name %>
  <br>
  アドレス:
  <%= @user.email %>
  <br>
  <%= link_to 'プロフィール変更', edit_user_registration_path, class: "btn btn-primary" %>
  <br>
  借りた本:
  <% @user_book.each do |user_book| %>
    <br><%= user_book.book.title %><%= user_book.book.created_at.strftime("%Y年%m月%d日 %H:%M") %><%= user_book.status %>
  <% end %>
</div>
